<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="mfLvarPerFrame" value="15" />
  <add key="ConfigVersion" value="1" />
  <add key="logFilePath" value="MSFS2020_AutoFPS.log" />
  <add key="logLevel" value="Debug" />
  <add key="waitForConnect" value="true" />
  <add key="openWindow" value="true" />
  <add key="simBinary" value="FlightSimulator" />
  <add key="simModule" value="WwiseLibPCx64P.dll" />
  <add key="offsetModuleBase" value="0x004B2368" />
  <add key="offsetPointerMain" value="0x3D0" />
  <add key="offsetPointerTlod" value="0xC" />
  <add key="offsetPointerTlodVr" value="0x114" />
  <add key="offsetPointerOlod" value="0xC" />
  <add key="offsetPointerCloudQ" value="0x44" />
  <add key="offsetPointerCloudQVr" value="0x108" />
  <add key="offsetPointerVrMode" value="0x1C" />
  <add key="offsetPointerFgMode" value="0x4A" />
  <add key="simMinLod" value="10" />
  <add key="useExpertOptions" value="false" />
  <add key="FpsTolerance" value="5" />
  <add key="DecCloudQ" value="true" />
  <add key="TLODMinGndLanding" value="true" />
  <add key="CloudRecoveryTLOD" value="100" />
  <add key="minTLod" value="50" />
  <add key="maxTLod" value="200" />
</appSettings>